@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* SECTION 1 */
.section-1 {
    background-color: rgb(17 24 39);
    max-width: 1040px;
    margin: auto;
}
.section-1-header {
    max-height: 66px;
    display: flex;
    justify-content: space-between;
}
.section-1-header-logo img {
    height: 100%;
}
.section-1-header-options {
    display: flex;
    align-items: center;
}
.section-1-header-options div {
    opacity: .8;
    font-size: 18px;
    line-height: 36px;
    white-space: nowrap;
    margin: 0 20px 0 36px;
}
.section-1-main {
    text-align: center;
}
.section-1-main-1 {
    color: white;
    margin-top: 100px;
    font-size: 90px;
    line-height: 125px;
    letter-spacing: -3px;
    font-weight: 700;
}
.section-1-main-2 {
    color: white;
    font-size: 30px;
    letter-spacing: -0.2px;
    line-height: 38px;
    margin-top: 35px;
    font-weight: 500;
}
.section-1-main-3 {
    margin-top: 50px;
}
.section-1-main-3 button {
    padding: 16px 45px;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.bgimg {
    margin: 0;
    width: 100%;
    height: 95vh;
    background-image: url(images/shock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.bgimg {
    margin: 0;
    width: 100%;
    height: 95vh;
    background-image: url(images/shock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

/* nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: 1;
}
 */
.bg
{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 95vh;
    opacity: 100%;
    background-image: linear-gradient(#1a191d,#ffffff40);
    background-attachment: fixed;
}

.logo{
    display: flex;
    position: relative;
    margin: 0;
    top: 1rem;
    left: 10vw;
    width: 10rem;
    height: 10rem;
}

p{
    display: inline;
    font-size: 2rem;
    text-align: center;
}

a{
    text-decoration: none;
}
/* a:hover{
    color: rgb(83, 83, 224);
} */

.text-box{
    padding: 30% 10% 20% 10%;
    /* display: flex; */
    width: 100%;
    height: 100%;
    align-items:center;
    text-align: center;
    vertical-align:middle;
}

.about{
    padding: 30px 20px;
    width: 100%;
}   

span{
    text-decoration: solid;
    font-size: 2rem;
}

/* ///////////////////    GALLERY     ////////////////// */

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1100px;
    max-height: 1100px;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
  }
  
 .imgs{
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
    
    &:nth-child(7n + 1) {
      grid-column: 2 / span 2;
    }
    
    &:hover {
      z-index: 2;
      transform: scale(1.3);
    }
  }
  
/* /////////////     FOOTER        /////////// */

footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;

    text-align: center;
    padding: 20px 10px;
    font-size: 25px;
}

section{
    font-size: 1rem;
}

/* ////////////////////////         EVENTS        ////////////////////////////// */

.events{
    width: 100%;
    color: white;
    background-color: black;
}

.section-4 {
    max-width: 1040px;
    padding-top: 60px;
    margin: auto;
    display: flex;
    min-height: 100vh;

}
.section-4-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.section-4-left-content {
    padding: 0 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}
.section-4-left-heading {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -3.15px;
    white-space: pre-line;
    opacity: 0.9;
    font-weight: 700;
}
.section-4-left-desc {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 28px;
    white-space: pre-line;
    max-width: 600px;
    margin-top: 52px;
}
.section-4-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.section-4-right-placeholder {
    max-width: 322px;
    max-height: 480px;
    position: sticky;
    top: 180px;
    box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset, rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
    border-radius: 46px;
    padding: 16px 14px;
}
.section-4-right-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 46px;
}


/* //////////////////////////      TEAM        //////////////////    */

h6{
    text-decoration: solid;
    width: 100%;
    color: white;
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}
.container
{   
    margin: 0;
    padding: 2rem;
    width: 100%;
    /* height: 70vh; */
    background-image: url(images/dev.jpg) ;
    background-size:contain;
    background-attachment: fixed;
}

.flip-card {
    background-color: transparent;
    width: 10rem;
    height: 10rem;
    perspective: 30rem;
    display: inline-flex;
    margin: 2rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    padding: 10px;
    background-color: #1c84d4;
    color: white;
    transform: rotateY(180deg);
  }
